@font-face{
  font-family:'Infinity';
  src: url('MADEINFINITY PERSONALUSE-Light.otf');
}


@font-face{
  font-family:'Infinity Thin';
  src: url('MADEINFINITY PERSONALUSE-Thin.otf');
}

@font-face{
  font-family:'Gothic';
  src: url('Deutsch.ttf');
}

body {
        margin:0!important;
        background-image: url('bg.png');
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:cover;
        font-family:'Infinity';
      }


html {
  scroll-behavior: smooth;
}

a{
  color:yellow;
}

a:hover{
  color:orange!important;
}

.transparent-box{
  width:100vw;
  min-height:100vh;
  color:white;
  overflow:hidden;
  padding-top:32px;
  padding-bottom:32px;
}

.miku-box{
  width:100vw;
  min-height:100vh;
  overflow:hidden;
  color:white;
  /*background: url("mikulego.jpg");*/
  background:#282828;
  overflow:hidden;
  padding-top:32px;
  padding-bottom:32px;
}

.white-box{
  width:100vw;
  min-height:100vh;
  overflow:hidden;
  color:black;
  background-color:white;
  overflow:hidden;
  padding-top:32px;
  padding-bottom:32px;
}

.footer-box{
  width:100vw;
  min-height:100vh;
  overflow:hidden;
  color:black;
  background: url("white.png");
  background-size:cover;
  overflow:hidden;
}

.header-logo{
  box-shadow: 0 0 15px rgba(255,255,255, 1)!important;
  border-radius:50%
  width:50%;
}

.header-logo:hover{
  box-shadow: 0 0 25px rgba(255,255,255, 1)!important;
}

.about-text{
  font-family:'Infinity Thin'!important;
  text-align:left!important;
  margin-left:25%;
  padding-top:125px;
  width:75%;
}
.footer-logo{
  
  border-style:solid;
  color:black;
  border-radius:50%
  width:25%;
}

.footer-logo:hover{
  box-shadow: 0 0 3px rgba(50,50,50, 1)!important;
}


.header-button{
  border-style:none;
  padding:18px;
  margin:8px;
  box-shadow: 0 0 10px rgba(255,255,255, 1)!important;
  background-color:white;
  color:black;
  text-decoration:none;
  width:fit-content;
  font-family:'Infinity';
}

.header-button:hover{
  box-shadow: 0 0 25px rgba(255,255,255, 1)!important;
  background-color:black;
  color:white;
  text-decoration:none;
}

.centered{
  text-align:center;
}

.header-container{
  height:auto;
  width:50%;
  padding-top:6%;
  padding-left:25%;
}

.half-width{
  width:49%;
  float:left;
}

.miku-wave{
  margin:-80px;
}

.contact-card{
  margin-left:15vw;
  margin-top:15vh;
  width:70vw;
  height:70vh;
  border-style:solid;
}

.footer-text {
  color:white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* -------------- Videos ---------------*/
.video-box{
  width:49.9%;
  float:left;
}
.youtube-container{
  width:560px;
  height:315px;
}

.video-icon{
  height:16pt;
}

.video-icon:hover{
  transform:scale(1.4)!important;
  object-fit: cover;
}

/* -------------- Disk cover ------------------*/
.album-cover{
  width:150px;
  height:150px;
  margin:6px;
}

.album-cover:hover{
  transform:scale(1.1)!important;
  object-fit: cover;
}

/* -------------- Rectangular buttons ------------------*/
.social-button{
  background-color:rgba(0,0,0,0);
  border-style:none;
  width:200px!important;
  height:40px!important;
}

.social-button-img:hover{
  -webkit-filter: drop-shadow(0 0 15px #fff);
  filter: drop-shadow(0 0 10px #fff);
}

.social-button-img-blk:hover{
  -webkit-filter: drop-shadow(0 0 3px #222);
  filter: drop-shadow(0 0 3px #222);
}
/* -------------- Small screen changes --------------------*/
@media only screen and (max-width:850px){
  .header-logo{
    width:75%!important;
  }

  .header-button{
    width:80%!important;
    padding:6px!important;
    margin:6px!important;
  }

  .header-container{
    width:80%!important;
    padding-left:10%!important;

  }

  .transparent-box{
    background: url("bg.png")!important;
    background-size:cover!important;
    background-repeat:none!important;
  }

  .video-box{
    float:none!important;
    width:100%!important;
  }

  .youtube-container{
    width:90vw;
    height:calc(90vw * 315/560);
  }


  .half-width{
    margin:10%!important;
    width:90%!important;
    float:none!important;
  }

  .about-text{
    padding-top:15px!important;
    margin-left:5%!important;
    width:90%!important;
  }

  .miku-wave{
    margin:0!important;
  }

}


/* -------------- Modal -----------------*/
.modalDialog {
  font-family: Courier;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  text-align:left;
  width: 80%;
  max-width:600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('bg.png');;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background:red; }